/* 예: 큰 화면(데스크톱)에 대한 스타일 */
@media (min-width: 820px) {

    /*----------------------------container--------------------------------*/


    .containers{
        width: 100%;
        padding-top: 80px;
    }
    .container-container{
        margin: 0 auto;
        width: 820px;;
    }
    /*본문*/
    .content-list{
        padding: 35px 0;
        border-bottom: 1px solid #ebebeb;
    }


    .content-list-title{
        font-size: 1.7rem;
    }
    .content-list-body{
        max-height:  90px;
        line-height: 28px;
        font-size: 1rem;
        color: #504f4f;
        overflow-y: hidden;
        margin-top: 10px;
    }

    .content-list-category{
        font-size: 0.8rem;
        font-weight: bold;
        color: #142872;
    }
    .content-list-createDate{
        margin-top: 10px;
        font-size: 0.8rem;
        color: grey;
    }

    /*댓글*/
    .reply-container{
        padding-top: 20px;
    }
    .reply-faAngleDown{
        display: inline-block;
        margin-left: 5px;
    }
    .reply-ul{
        margin-bottom: 20px;
        margin-top: 5px;
        border-top: 1px solid #e0e0e0;
    }
    .replay-list{
        overflow: hidden;
        position: relative;
        padding: 23px 20px 24px;
        border-bottom: 1px solid #eee;
    }
    .reply-user-profile{
        float: left;
        margin-right: 16px;
        border-radius: 50px;
        width: 50px;
        height: 50px;
    }
    .reply-content{
        width: calc(100% - 70px);
        float: left;
    }
    .reply-user-name{
        font-size: 0.8rem;
        display: block;
        overflow: hidden;
        max-width: 515px;
        margin: 4px 5px 0 0;
        font-weight: bold;
        color: #333;
        white-space: nowrap;
    }
    .reply-user-body{
        display: block;
        width: 704px;
        margin-top: 3px;
        font-size: 12px;
    }
    .reply-user-date{
        display: block;
        margin-top: 7px;
        font-size: 12px;
        color: #aaa;
    }
    .replay-create-area{
        width: 820px;
        height: 102px;
        padding: 13px 15px 10px;
        border: 1px solid #eee;
        font-size: 12px;
        resize: none;
        box-sizing: border-box;
        margin-bottom: 5px;
    }
    .reply-user-info{
        width: 120px;
        height: 36px;
        padding: 0 15px;
        border: 1px solid #eee;
        font-size: 12px;
        box-sizing: border-box;
        margin-right: 10px;
    }
    .reply-submit{
        width: 70px;
        height: 36px;
        border-radius: 4px;
        font-size: 12px;
        line-height: 38px;
        background-color: #141E46;
        color: #fff;
        font-weight: bold;
    }



    /*pagination*/
    .MuiPagination-root.MuiPagination-text{
        margin: 30px auto 90px;
        width: fit-content !important;
    }
    .Mui-selected{
        background-color: #141E46 !important;
    }

    .content-create-gategory{
        width: 150px;
        padding-top: 120px;
    }

    /*이지윅에디터*/
    .content-containers{
        margin: 0 auto;
        width: 820px;
    }
    .content-title{
        z-index: 900;
        width: 820px;
        height: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
        outline: none;
        font-size: 1.8rem;
        border-bottom: 1px solid #eee;
    }
    .ck-toolbar {
        width: 820px !important;
    }


    .create-footer{
        padding: 13px 50px;
    }

    /*관리페이지*/
    .setting-container{
        padding-top: 40px;
        background: #f3f5f7;
    }
    .setting-container-container{
        margin: 0 auto;
        width: 1150px;
        height: calc(100vh - 120px);
    }
    .setting-side{
        width: 216px;
        float: left;
        height: 80vh;
        background: #ffffff;
    }

    .setting-body{
        width: 894px;
        float: right;
    }
    .setting-title{
        margin: -5px 0 9px;
        font-size: 1.2rem;
    }
    .categroy-setting{
        padding: 25px 29px 0;
        width: 100%;
        background: white;
        border-radius: 1px;
        border: 1px solid #E0E5EE;
        color: #9d9c9c;
    }

    .list_order{
        margin: 20px 0;
        padding: 8px;
        background: #E7EDF3;
    }
    .categories-setting{
        border: 1px solid #E0E5EE;
    }
    .list-order-list{
        position: relative;
        height:50px;
        line-height: 50px;
        margin-bottom: 1px;
    }
    .list-order-list:hover{
        background: #f8f8f8;
    }
    .top-indicator{
        display: inline-block;
        background: #FAFBFC;
        margin-right: 20px;
        border-right: 1px solid #E0E5EE;
    }
    .sub-indicator{
        display: inline-block;
        background: #FAFBFC;
        padding-left: 20px;
        margin-left: 15px;
        border-left: 1px solid #E0E5EE ;
        margin-right: 20px;
        border-right: 1px solid #E0E5EE;
    }
    .basic_item-bars{
        color: #d0d0d0;
    }
    .basic_item{
        cursor: pointer;
        background: white;
        color: black;
        font-size: 1rem;
    }
    .basic_item-plus{
        color: #545252;
    }
    .add_item{
        cursor: pointer;
        color: black;
        margin-top: 8px;
        border: 1px dotted #b6b6b6;
    }
    .category-input{
        width: 320px;
        height: 40px;
        outline: none;
        border: 1px solid #afafaf;
        padding: 6px 14px;
    }
    .order_btn-small{
        position: absolute;
        top: 15px;
        right: 20px;
    }
    .order_btn{
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .btn-default-small{
        font-size: 0.7rem;
        float: left;
        width: 35px;
        height: 20px;
        line-height: 20px;
        border-radius: 1px;
        border: 1px solid #bbc1c9;
        background: #fff;
        text-align: center;
        box-shadow: 0 1px 1px rgba(0,0,0,0.08);
        box-sizing: content-box;
    }
    .btn-default{
        font-size: 0.8rem;
        float: left;
        width: 76px;
        height: 30px;
        line-height: 30px;
        border-radius: 1px;
        border: 1px solid #bbc1c9;
        background: #fff;
        text-align: center;
        box-shadow: 0 1px 1px rgba(0,0,0,0.08);
        box-sizing: content-box;
    }
    .btn-confirm{
        margin-left: 5px;
        color: #9a9a9a;
        border: 1px solid #e0e5ec;
    }


}