@media (max-width: 767px) {

    .navbar{
        height: 55px;
    }
    .menu-close{
        top:20px;
        right: 10px;
        position: absolute;
    }
    .slideMenu{
        /*background: white;*/
        background-color: #e5e5e5;
        height: calc(100% - 50px);
        width: 100%;
        z-index: 990;
        position: fixed;
        top:0;
        right: -100%;
        transition: transform 0.2s ease-in-out;
    }
    .show{
        transform: translateX(-100%);
    }


    .user-panel{
        padding: 80px 25px 10px;
        background-color: white;
    }
    .user-right{
        margin-left: 6px;
        margin-bottom: 7px;
    }
    .join-right{
        margin-left: 6px;
        margin-bottom: 3px;
    }
    .user-panel-info{
        width: calc(100% - 90px);
    }
    .user-panel-image{
        width: 90px;
        height: 90px;
        margin-top: 20px;
        border-radius: 50%;

    }
    .user-panel-subject{
        display: inline-block;
        margin-bottom: 10px;
        font-size: 2rem;
        font-weight: bolder;
    }
    .user-panel-logout{
        display: inline-block;
        margin-bottom: 10px;
        font-size: 0.9rem;
    }
    .user-panel-info > p.sep{
        font-size: 0.9rem;
        margin-top: 5px;
    }
    .user-age-bold{
        font-size: 1.2rem;
        letter-spacing: 2px;
        font-weight: 600;
    }
    .user-personal-info{
        line-height: 25px;
    }
    ul.dropLi{
        height: 100%;
        margin-top: 7px;
        padding-top: 20px;
        background-color: white;
    }
    ul.dropLi > a >li{
        font-weight: bold;
        padding: 10px 25px;
        margin : 10px 0;
    }
    .goto-join{
        display: block;
        padding: 5px 20px;
        color: #464545;
        margin: 0 auto;
        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
    }
    .nav-row{
        padding:7px 15px 10px;
        width: 100%;
        height: 55px;
    }

    .nav-profile{
        min-width: calc(100% - 220px);
    }
    .profile-img{
        border: 1px solid black;
        width: 40px;
        border-radius: 40px;
    }
    .nav-profile-info{
        margin-left: 10px;
    }
    .nav-profile-name{
        font-size: 0.8rem;
        color: #504f4f;
        font-weight: bold;
    }
    .nav-profile-mood{
        font-size: 0.7rem;
        color: #808080;
    }
    .nav-git-link :hover{
        border-bottom: 1px solid #000;
        text-decoration: none;
    }
    .nav-git-icon{
        width: 14px;
        margin-top: -3px;
        margin-right: 5px;
        display: inline-block;
    }
    .nav-profile-link{
        font-size: 0.7rem;
        font-weight: bold;
    }
    .nav-menu{
        position: fixed;
        top:15px;
        text-align: center;
        right: 15px;
        height: 30px;
        width: 40px;
        display: flex;
    }
    .nav-input-area{
        display: none;
    }
    .nav-input-icon{
        display: none;
    }
    .nav-input{
        display: none;
    }
    .nav-menu-btn{
        border-radius: 3px;
        width: 40px;
        height: 30px;
        border: 1px solid green;
    }
    .nav-menu-name{
        display: none;
    }
    .nav-faChevronDown{
        display: none;
    }
    .nav-faBars{
        display: inline-block;
        color: green;
    }
}
