@media (max-width: 768px) {


    /*----------------------------Navbar--------------------------------*/
    .navbar{
        height: 55px;
    }
    .nav-row{
        padding:7px 15px 10px;
        width: 100%;
        height: 55px;
    }

    .nav-profile{
        min-width: calc(100% - 220px);
    }
    .profile-img{

        width: 40px;
        border-radius: 40px;
    }
    .nav-profile-info{
        margin-left: 10px;
    }
    .nav-profile-name{
        font-size: 0.8rem;
        color: #141E46;
        font-weight: bold;
    }
    .nav-profile-mood{
        font-size: 0.7rem;
        color: #808080;
    }
    .nav-git-link :hover{
        border-bottom: 1px solid #141E46;
        text-decoration: none;
    }
    .nav-git-icon{
        width: 14px;
        margin-top: -3px;
        margin-right: 5px;
        display: inline-block;
    }
    .nav-profile-link{
        font-size: 0.7rem;
        font-weight: bold;
    }
    .nav-menu{
        position: fixed;
        top:15px;
        text-align: center;
        right: 15px;
        height: 30px;
        width: 40px;
        display: flex;
    }
    .nav-input-area{
        display: none;
    }
    .nav-input-icon{
        display: none;
    }
    .nav-input{
        display: none;
    }
    .nav-menu-btn{
        border-radius: 3px;
        width: 40px;
        height: 30px;
        border: 1px solid #141E46;
    }
    .nav-menu-name{
        display: none;
    }
    .nav-faChevronDown{
        display: none;
    }
    .nav-faBars{
        display: inline-block;
        color: #141E46;
    }

    /*유저메뉴*/
    ul.user-menu{
        display: block;
        width: 250px;
        padding-top: 13px;
        padding-bottom: 2px;
        position: fixed;
        top: 31px;
        left: 10px;
        background: white;
        border: 1px solid #eee;
        z-index: 100;
    }
    ul.user-menu > li:not(.box_division){
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        display: block;
        padding-left:40px;
        margin-bottom: 7px;
        text-decoration: none;
        font-size: 0.8rem;
        color: #666;
    }
    ul.user-menu > li:hover{
        font-weight: bold;
    }
    ul.user-menu > li.box_division{
        padding-top: 13px;
        border-top: 1px solid #f4f4f4;
        margin-top: 9px;
    }


    /*카테고리메뉴*/
    .modal_back{
        width: 100vw;
        height: 100vh;
        background: rgb(1,1,1,0.7);
        position: fixed;
        top:0;
        left: 0;
        z-index: 90;
    }
    .close-modal{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 315px;
    }
    ul.category-menu{
        display: block;
        width: 300px;
        padding-top: 30px;
        padding-bottom: 2px;
        position: fixed;
        top: 0;
        height: 100vh;
        right: 0;
        padding-left: 30px;
        background: white;
        z-index: 100;
    }
    ul.category-menu > li:not(.box_division){
        cursor: pointer;
        display: block;
        padding-left: 15px;
        margin-bottom: 7px;
        text-decoration: none;
        font-size: 0.9rem;
        color: #666;
    }
    ul.category-menu > li:hover{
        font-weight: bold;
    }
    ul.category-menu > li.box_division{
        padding-top: 13px;
        border-top: 1px solid #141E46;
        margin-top: 9px;
    }

}
